In [51]:
from sqlite3 import IntegrityError
from tkinter.tix import INTEGER


name = 'shubhankar singh'
age = 20
place = 'lucknow'
pin = 200000

print(type(age),
 type(name), 
 type(place))

<class 'int'> <class 'str'> <class 'str'>

In [1]:
a = 1.22
type(a)

float

In [2]:
a = "aman is a student"
print(a)
print(type(a))

aman is a student
<class 'str'>

In [12]:
a = "True"
b = "False"
print(a , b)
print(type(a) , type(b))

True False
<class 'str'> <class 'str'>

In [17]:
flowers = ['lily', 'rose', 'lotus' , 'tulip']
print(flowers)
print(type(flowers))

['lily', 'rose', 'lotus', 'tulip']
<class 'list'>

In [21]:
number = (1,2,3,4,5)
print(number)
print(type(number))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [23]:
even = {2,4,6,8,10}
print(even)
print(type(even))

{2, 4, 6, 8, 10}
<class 'set'>

In [33]:
info = {"name" : 'shubbu' ,
        'age' : 20 ,
        'location' : "lucknow"}
print(info)
(print(type(info)))

{'name': 'shubbu', 'age': 20, 'location': 'lucknow'}
<class 'dict'>

#arthmatic operator

In [38]:
a = (1)
b = (2)
print(a + b)
print(a - b)
print(a / b)    #  float division
print(a // b)   #  integer division
print(a % b)    #  raminder
print(a ** b)   #  exponential

3
-1
0.5
0
1
1

In [41]:
print(a == b)
print(a != b )
print(a < b )
print(a > b )
print(a <= b )
print(a >= b )

False
True
True
False
True
False

In [52]:
a < 3 and  b < 3

True

In [54]:
a > 3 and b > 3

False

In [9]:
a < 3  or b < 3

NameError: name 'a' is not defined

In [57]:
a > 3  or b > 3

False

In [58]:
not a < 3

False

In [3]:
a > 3 or b >  3

TypeError: '>' not supported between instances of 'str' and 'int'