In [ ]:
x = ['Ravi Prakash',100,22,206022,'Lucknow','Regional variable',True,False]

In [21]:
data = {'name':'Ravi Prakash','eid':100,
        'age':22, 'pincode':206022,'city':'lucknow',
        'degin':'regional manager','is_married':True}

In [22]:
print(data)

{'name': 'Ravi Prakash', 'eid': 100, 'age': 22, 'pincode': 206022, 'city': 'lucknow', 'degin': 'regional manager', 'is_married': True}

In [7]:
data['name']

'Ravi Prakash'

In [13]:
data['degin']

'regional manager'

In [23]:
data

{'name': 'Ravi Prakash',
 'eid': 100,
 'age': 22,
 'pincode': 206022,
 'city': 'lucknow',
 'degin': 'regional manager',
 'is_married': True}

In [27]:
data.pop('is_married')

True

In [28]:
for i in data:
    print(i)

name
eid
age
pincode
city
degin

In [29]:
for k , v in data.items():
    print(k,v)

name Ravi Prakash
eid 100
age 22
pincode 206022
city lucknow
degin regional manager

In [30]:
for i in data:
    print(i,data[i])

name Ravi Prakash
eid 100
age 22
pincode 206022
city lucknow
degin regional manager

In [31]:
x = [1,2,3,5,0,3,4,5,654,7]
x_odd = x[1::2]
print(x)
print(x_odd)

[1, 2, 3, 5, 0, 3, 4, 5, 654, 7]
[2, 5, 3, 5, 7]

In [32]:
x = [1,2,3,32,54,4,534,34,4,34,34]
x_odd = []
for i,v in enumerate(x):
    if i % 2 !=0:
        x_odd.append(v)
print(x_odd)

[2, 32, 4, 34, 34]

In [34]:
user_data = {}
for i in range(5):
    key = input("enter name?")
    val = input("enter value=>")
    user_data[key] = val
print(user_data)

{'maggie': '12', 'salt': '15', 'cold drink': '20', 'kukure': '10', 'pyaaz ,tmaatar': '40'}

In [35]:
#store student marks in dictionary
report = {
    'raja':{
        'eng': [50,80],
        'hindi':[40,83],
        'maths':[39,59],

    },
    'rani' :{
        'eng': [29,49],
        'hindi':[40,70],
        'maths':[2,1],

    }, 
}

In [37]:
report['raja']['comp'] = 50
print(report)

{'raja': {'eng': [50, 80], 'hindi': [40, 83], 'maths': [39, 59], 'comp': 50}, 'rani': {'eng': [29, 49], 'hindi': [40, 70], 'maths': [2, 1]}}

In [38]:
for name, marks in report.items():
    print(name)
    for subject, val in marks.items():
        print(f'=>{subject} = {val}')

raja
=>eng = [50, 80]
=>hindi = [40, 83]
=>maths = [39, 59]
=>comp = 50
rani
=>eng = [29, 49]
=>hindi = [40, 70]
=>maths = [2, 1]

In [39]:
user_data = {}
name = input("enter name?")
contact_number = input("enter number=>")
user_data[name] = contact_number
print(user_data)

{'police': '112'}